.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script';
  color: deeppink;
}

.calculatorHeading {
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-shadow: 2px 2px rgba(0,0,0,.1);
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.calculatorHeading span:nth-child(1) {
  opacity: 0;
  animation: 1s ease-in-out 0s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(2) {
  opacity: 0;
  animation: 1s ease-in-out 0.2s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(3) {
  opacity: 0;
  animation: 1s ease-in-out 0.4s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(4) {
  opacity: 0;
  animation: 1s ease-in-out 0.6s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(5) {
  opacity: 0;
  animation: 1s ease-in-out 0.8s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(6) {
  opacity: 0;
  animation: 1s ease-in-out 1s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(7) {
  opacity: 0;
  animation: 1s ease-in-out 1.2s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(8) {
  opacity: 0;
  animation: 1s ease-in-out 1.4s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(9) {
  opacity: 0;
  animation: 1s ease-in-out 1.6s 1 normal forwards bounceInDown;
}

.calculatorHeading span:nth-child(10) {
  opacity: 0;
  animation: 1s ease-in-out 1.8s 1 normal forwards bounceInDown;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.calculatorSubheading {
  margin-bottom: 40px;
  margin-top: 20px;
  opacity: 0;
  animation: 2s ease-in-out 2s 1 normal forwards FadeIn;
  text-align: center;
  font-family: 'Dancing Script';
  color: hotpink;
}

.footer {
  color: white;
  font-family: 'Kalam';
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footerPlug {
  color: white;
}

.footerPlug:hover {
  color: pink;
  text-decoration: none;
}
